/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* https://firefoxux.github.io/photon-components-web/?selectedKind=Introduction&selectedStory=README&full=0&addons=1&stories=1&panelRight=0&addonPanel=lmorchard%2Fcodesample%2Fpanel */

/* Photon Colors CSS Variables v3.3.1 */

:root {
  --magenta-50: #ff1ad9;
  --magenta-60: #ed00b5;
  --magenta-70: #b5007f;
  --magenta-80: #7d004f;
  --magenta-90: #440027;

  --purple-30: #c069ff;
  --purple-40: #ad3bff;
  --purple-50: #9400ff;
  --purple-60: #8000d7;
  --purple-70: #6200a4;
  --purple-80: #440071;
  --purple-90: #25003e;

  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-50-a30: rgba(10, 132, 255, 0.3);
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --blue-90: #000f40;

  --teal-50: #00feff;
  --teal-60: #00c8d7;
  --teal-70: #008ea4;
  --teal-80: #005a71;
  --teal-90: #002d3e;

  --green-50: #30e60b;
  --green-60: #12bc00;
  --green-70: #058b00;
  --green-80: #006504;
  --green-90: #003706;

  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-70: #a47f00;
  --yellow-80: #715100;
  --yellow-90: #3e2800;

  --red-50: #ff0039;
  --red-60: #d70022;
  --red-70: #a4000f;
  --red-80: #5a0002;
  --red-90: #3e0200;

  --orange-50: #ff9400;
  --orange-60: #d76e00;
  --orange-70: #a44900;
  --orange-80: #712b00;
  --orange-90: #3e1300;

  --grey-10: #f9f9fa;
  --grey-10-a10: rgba(249, 249, 250, 0.1);
  --grey-10-a20: rgba(249, 249, 250, 0.2);
  --grey-10-a40: rgba(249, 249, 250, 0.4);
  --grey-10-a60: rgba(249, 249, 250, 0.6);
  --grey-10-a80: rgba(249, 249, 250, 0.8);
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-70: #38383d;
  --grey-80: #2a2a2e;
  --grey-90: #0c0c0d;
  --grey-90-a05: rgba(12, 12, 13, 0.05);
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a40: rgba(12, 12, 13, 0.4);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --grey-90-a70: rgba(12, 12, 13, 0.7);
  --grey-90-a80: rgba(12, 12, 13, 0.8);
  --grey-90-a90: rgba(12, 12, 13, 0.9);

  --ink-40: #7175A8;
  --ink-50: #595E91;
  --ink-60: #464B76;
  --ink-70: #363959;
  --ink-80: #202340;
  --ink-90: #0f1126;

  --white-100: #ffffff;

}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--grey-10);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'helvetica neue',
    helvetica,
    ubuntu,
    roboto,
    noto,
    'segoe ui',
    arial,
    sans-serif;
}

:root {
  /* BASELINE GRID */
  --baseline-grid: 4px;

  /* FONT-SIZES */
  --body-10: 13px;
  --body-20: calc(var(--body-10) * 1.15);
  --body-30: calc(var(--body-20) * 1.15);

  --title-10: var(--body-10);
  --title-20: calc(var(--title-10) * 1.29);
  --title-30: calc(var(--title-20) * 1.29);
  --title-40: calc(var(--title-30) * 1.29);

  --display-20: calc(var(--title-40) * 1.29);

  /* SHADOWS */
  --shadow-10: 0 1px 4px var(--grey-90-a10);
  --shadow-20: 0 2px 8px var(--grey-90-a10);
  --shadow-30: 0 4px 16px var(--grey-90-a10);
}

html {
  font-size: var(--body-10);
  line-height: 1.4;
}

h1 {
  font-size: var(--display-20);
  font-weight: 200;
}

h2 {
  font-size: var(--title-30);
  font-weight: 300;
}

h3 {
  font-size: var(--title-20);
  font-weight: 500;
}

.shadow-10 {
  box-shadow: 0 1px 4px var(--grey-90-a10);
}

.shadow-20 {
  box-shadow: 0 2px 8px var(--grey-90-a10);
}

.shadow-30 {
  box-shadow: 0 4px 16px var(--grey-90-a10);
}



button,
a.button {
  background-color: var(--grey-90-a10);
  border: 0 none;
  border-radius: 2px;
  color: var(--grey-90);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  height: 32px;
  justify-content: center;
  min-width: 132px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: auto;
}

/* Primary style */

button.button--primary,
a.button.button--primary {
  background-color: var(--blue-60);
  color: #fff;
  font-weight: 300;
}

button.button--primary:hover,
a.button.button--primary:hover {
  background-color: var(--blue-70);
}

button.button--primary:active,
a.button.button--primary:active {
  background-color: var(--blue-80);
}

/* Ghost style */

button.button--ghost,
a.button.button--ghost {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  color: var(--grey-90-a80);
  height: 32px;
  min-width: auto;
  padding: 8px;
  width: 32px;
}

/* Micro size */

button.button--micro,
a.button.button--micro {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  padding: 0 8px;
  min-width: auto;
}

/* Puffy size */

button.button--puffy,
a.button.button--puffy {
  border-radius: 4px;
  font-size: 15px;
  height: 48px;
  min-width: auto;
  padding: 0 16px;
}

/* Hover, Active states */

button:focus,
a.button:focus {
  box-shadow:
    0 0 0 1px var(--blue-50) inset,
    0 0 0 1px var(--blue-50),
    0 0 0 4px var(--blue-50-a30);
}

button:hover,
a.button:hover {
  box-shadow: none;
  background-color: var(--grey-90-a20);
}

button:active,
a.button:active {
  box-shadow: none;
  background-color: var(--grey-90-a30);
}

button.button--ghost:hover,
a.button.button--ghost:hover {
  background-color: var(--grey-90-a10);
}

button.button--ghost:active,
a.button.button--ghost:active {
  background-color: var(--grey-90-a20);
}

button::-moz-focusring {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

button[disabled],
a.button[aria-disabled],
a.button.button--disabled {
  opacity: .4;
  pointer-events: none;
}

.card {
  background: var(--white-100);
  border-radius: 4px;
  padding: 0 calc(4 * var(--baseline-grid));
  transition: box-shadow 150ms;
}

.card--size-large {
  padding: 0 calc(5 * var(--baseline-grid));
}

.card:hover {
  box-shadow: 0 0 0 5px var(--grey-30);
}

.card--shadow {
  box-shadow: var(--shadow-10);
}

.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--grey-90-a10);
  border-radius: 2px;
  border: 1px solid var(--grey-90-a30);
  height: 16px;
  margin: -2px 4px;
  width: 16px;
}

.checkbox:hover {
  background-color: var(--grey-90-a20);
}

.checkbox:active {
  background-color: var(--grey-90-a30);
}

.checkbox:focus {
  border: none;
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, .3);
}

.checkbox:checked {
  background-color: var(--blue-60);
  background-image: url(images/checkbox-check-16-grey-10-a90-c3eedd2deb938aa0ec2b5353c1e4bdca.svg);
  background-position: center center;
}

.checkbox:checked:hover {
  background-color: var(--blue-70);
}

.checkbox:checked:active {
  background-color: var(--blue-80);
}

.checkbox:disabled {
  opacity: .4;
}

.checkbox:disabled:hover {
  background-color: var(--grey-90-a10);
}

.checkbox:disabled:checked:hover {
  background-color: var(--blue-60);
}

.checkbox--disabled__label__text {
  opacity: .4;
}

.input {
  position: relative;
}

.input__field {
  border-color: var(--grey-90-a20);
  border-width: 1.5px;
  border-radius: 2px;
  border-style: solid;
  color: var(--grey-90);
  font-size: .833rem/1.4;
  height: 32px;
  padding: 8px;

  /* TODO: figure out how to do a linear alpha gradient rather than ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input .input__field {
  width: 100%;
}

.input__field:hover {
  border-color: var(--grey-90-a30);
}

.input__field:focus {
  border-color: var(--blue-50);
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, .3);
}

.input__field::placeholder {
  color: var(--grey-50);
  font-size: .833rem/1.4;
  margin-bottom: 8px;
}

.input--warning__field {
  border-color: var(--yellow-60);
  box-shadow: 0 0 0 1px #d7b600, 0 0 0 4px rgba(215, 182, 0, .3);
}

.input--error__field {
  border-color: var(--red-60);
  box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, .3);
}

.input--icon__field {
  padding-left: 32px;
  background-size: 16px 16px;
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-position: 8px center;
}

.input__label {
  display: block;
}

/* TODO: this password reveal stuff needs a proper icon */

.input__passwordVisibility,
.input__clear {
  cursor: pointer;
  margin-left: -2em;
  background: rgba(255, 255, 255, .7);
}

.input__clear {
  margin-left: -2.5em;
  padding: 6px 14px;
  background-image: url(images/searchfield-cancel-grey-90-d19cbf02c24e0b6e2164601f233ba842.svg);
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.input__passwordVisibility__hidden {
  color: var(--grey-50);
  text-decoration: line-through;
}

.input__passwordVisibility__revealed {
  color: var(--blue-50);
}

.link {
  color: #0a84ff;
  text-decoration: none;
  cursor: pointer;
}

.link:visited {
  color: #0060df;
}

.link:hover {
  color: #0c0c0d;
  text-decoration: underline;
}

.link:not([class])[href*="//"]::after {
  background-image: url(images/open-in-new-16-grey-90-c279fd8632fcc96deb2eff3c249a4e78.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin: -.3rem .15rem 0 .25rem;
  vertical-align: middle;
  width: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--grey-90-a60);
}

.radio {
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  border: 1px solid var(--grey-90-a30);
  background-color: var(--grey-90-a10);
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: -2px;
}

.radio:hover {
  background-color: var(--grey-90-a20);
}

.radio:active {
  background-color: var(--grey-90-a30);
}

.radio:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, .3);
}

.radio:checked {
  background-color: var(--blue-60);

  /* TODO: Replace this image with one from photon-icons when available */
  background-image: url(images/radiobutton-marker-16-grey-90-10fe9342308a179cbe9d502974719a6c.svg);
  background-position: center center;
}

.radio:checked:hover {
  background-color: var(--blue-70);
}

.radio:checked:active {
  background-color: var(--blue-80);
}

.radio:disabled {
  opacity: .4;
}

.radio:disabled:hover {
  background-color: var(--grey-90-a10);
}

.radio:disabled:checked:hover {
  background-color: var(--blue-60);
}

.radio--disabled__label__text {
  opacity: .4;
}

.tabset {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tabset__tab__handle {
  min-width: 24px;
  padding: 16px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
}

.tabset__tab__handle:hover {
  background-color: var(--grey-90-a10);
  border-bottom: 2px solid var(--grey-90-a20);
  text-decoration: none;
}

.tabset__tab__handle:active {
  background-color: var(--grey-90-a20);
  border-bottom: 2px solid var(--grey-90-a20);
}

.tabset__tab--selected__handle {
  color: var(--blue-60);
  border-bottom: 2px solid var(--blue-50);
}

.tabset__tab--selected__handle:hover {
  background-color: var(--grey-90-a10);
  border-bottom: 2px solid var(--blue-50);
}

.tabset__tab--selected__handle:active {
  background-color: var(--grey-90-a20);
}

.tabset__tab__handle::-moz-focusring {
  outline: none;
}

.tabset__tab__handle:focus {
  box-shadow:
    0 0 0 1px var(--blue-50) inset,
    0 0 0 1px var(--blue-50),
    0 0 0 4px var(--blue-50-a30);
}

.tree {
  padding: 0;
  list-style-type: none;
}

.tree__item__children {
  padding: 0 5px;
  margin: 0 0 0 -10px;
  border-left: 1.5px solid var(--blue-50);
  list-style-type: none;
}

.tree__item {
  position: relative;
  padding-left: 20px;
}

.tree__item--collapsed .tree__item__children {
  display: none;
}

.tree__item__handle {
  position: absolute;
  display: block;
  top: 3px;
  left: 0;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-position: center;
  content: " ";
  -moz-user-select: none;
}

.tree__item--withChildren__handle {
  cursor: pointer;

  /* TODO: get this icon into / from photon-icons? */
  background-image: url(images/arrow-grey-40-63e03266229beede4d0d04ea1629cf53.svg);
}

.tree__item--withChildren__handle.tree__item--collapsed__handle {
  top: 4px;
  transform: rotate(-90deg);
}

