@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.content {
    margin: 1em;
}

.pointer {
    cursor: pointer;
}

button.red {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid #ff0000;
    border-radius: 1px;
    color: #ff0000;
    transition: all 0.2s;
    font-size: 18px;
}

button.red:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid #ff0000;
    border-radius: 1px;
    color: #ff0000;
}

button.green {
    width: 100%;
    font-size: 18px;
    background-color: rgba(0, 255, 0, 0.1);
    border: 1px solid #00FF00;
    border-radius: 1px;
    color: #00FF00;
    transition: all 0.2s;
}

button.green:hover {
    background-color: rgba(0, 255, 0, 0.5);
    border: 1px solid #00FF00;
    border-radius: 1px;
    color: #00FF00;
}

button.blue {
    width: 100%;
    font-size: 18px;
    background-color: rgba(0, 183, 255, 0.1);
    border: 1px solid #00b7ff;
    border-radius: 1px;
    color: #00b7ff;
    transition: all 0.2s;
}

button.blue:hover {
    background-color: rgba(0, 183, 255, 0.5);
    border: 1px solid #00b7ff;
    border-radius: 1px;
    color: #00b7ff;
}

button.grey {
    cursor: not-allowed;
    width: 100%;
    background-color: rgb(180, 180, 180);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
    color: rgb(150, 150, 150);
    transition: all 0.2s;
    font-size: 18px;
}